@model Chat.Models.LoginModel

@{
    ViewBag.Title = "BláBlá";
}

<div class="telaBatePapo">
    <!-- Logo bla-blá -->
    <div id="logo">
        <img src="Images/logo.png" alt="DiskForYou logo" class="responsive-img centered">
    </div>

    <div class="botoes center-align">
        <a href="Account/Login" id="entrar" class="waves-effect waves-light btn btn-entrar grey darken-3"><i class="material-icons right" class="centered">play_arrow</i>Entrar</a>
        <a href="Account/Register" id="registrar" class="waves-effect waves-light btn btn-registrar  grey darken-3"><i class="material-icons right" class="centered">perm_identity</i>Registrar</a>
    </div>

</div>

<footer class="page-footer blue-grey darken-2">

    <div class="container">
        <div id="android">
            <center><h5 class="white-text">Aplicativo para Mobile</h5></center>
            <center><img src="Images/android-logo.png" class="responsive-img centered"></center>
        </div>
    </div>
    
</footer>
