@{
    ViewBag.Title = User.Identity.Name;
}


<div class="telaBatePapo">

    <div class="retangulo">
        <div class="retangulo1">
            <h2 class="center-align">Conversas</h2>

        </div>
        <div class="retangulo2">
            <div class="conversaHeader">
                <p>Fulano</p>
            </div>

            <div id="conversas">
                
            </div>

            <div class="janelaConteudo">

                
                    <button id="enviar_btn" class="btn btn-enviar waves-effect waves-light" type="button" value="okok">
                        Enviar
                        <i class="material-icons right ">send</i>
                    </button>

                    <input id="conteudo" type="text" class="validate">
               
            </div>
        </div>
    </div>
    
</div>


@section ChatJs{
    @Scripts.Render("~/bundles/chat")
@Scripts.Render("~/bundles/jquery")
}

